<% provide :head_tags do %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%= @lat %>, <%= @lng %>, true)
    });
    </script>
<% end %>
  
<div class="container mt-2">
  <div class="row">

    <div class="input-group mb-3">
      <input type="text" class="form-control" id="search-bar" 
        onclick="askOnceForLocation()" placeholder="Oakland, CA" 
        aria-label="Search for flying sites" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" 
          id="button-addon2"><i class="fas fa-search-location"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row border rounded p-2" style="min-height: 400px;">
    <div class="col-sm mr-4" id="map"></div>
    <div class="col-sm" id="site-list">
      
      <% @fly_sites.each do |fly_site| %>
        <div class="row mb-2">
          <div class="col-sm-1">
            <a class="btn" data-toggle="collapse" 
              href=<%= '#'+"collapse_#{fly_site.slug}" %> role="button"
              aria-expanded="false" 
              aria-controls=<%= "collapse_#{fly_site.slug}" %> >
              <i class="fas fa-plus"></i>
            </a>
          </div>
          <div class="col-sm-3 bg-primary rounded">
            <%= link_to fly_site.name, fly_site, class: "btn-primary" %>
          </div>
          <% if fly_site.latest_flyability_score %>
            <% fly_site.latest_flyability_score.scores.sort.each do |score| %>
              <% dow = get_dow(score[0]) %>
              <% link_class = "col-sm-1 btn #{get_score_css_class(score[1])} ml-1" %>
              <div class="<%= link_class %>" 
                id=<%= "#{fly_site.slug}_#{dow}" %>>
                <a class="text-light align-middle text-center" href="#" role="button"><%= dow %></a>
              </div>
            <% end %>
          <% end %> 
          <div class="collapse col-sm" id=<%= "collapse_#{fly_site.slug}" %>>
            <div class="card card-body">
              <div class="nws_image">
                <img alt="#" src=<%= "#{nws_plotter_url(fly_site)}" %> width="640"  />
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>