<% provide :head_tags do %>
<% end %>
<div class="row border">
  <div class="col-12" id="site-list">
    <% @fly_sites.each do |fly_site| %>
      <div class="row border-bottom">
        <div class="favorite col-3 pl-2 pr-2 pb-1 pt-1">
          <% if user_signed_in? %>
            <%= link_to favorite_fly_site_path(fly_site), method: 'post', remote: true do %>
              <span id='fly_site_<%= fly_site.id %>_favorite'>
                <% if current_user.favorited?(fly_site) %>
                  <i class="fas fa-heart text-warning"></i> 
                <% else %>
                  <i class="far fa-heart text-secondary"></i>
                <% end %>
              </span>
            <% end %>
          <% end %>
          <%= link_to fly_site.name, fly_site %>
        </div>
        <div class="col-9 pl-2 pr-2 pb-1 pt-1">
          <%= render partial: "shared/dow_row", locals: { fly_site: fly_site } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row border p-2">
  <div class="custom_pagination">
    <%= will_paginate @fly_sites, :container => false %>
  </div>
</div>