<% provide :head_tags do %>
  <script type="text/javascript">
    <%= render 'home/draw_score_gradients.js' %>
    <%= render 'home/highlight_date_columns.js' %>
  </script>
<% end %>

<div class="fly-sites-data" data-fly-sites="<%= @fly_sites %>">
</div>

<div class="row border site-list">
  <%= render partial: "home/site_list", locals: { fly_sites: @fly_sites } %>
</div>

<div class="row border p-2">
  <div class="custom_pagination">
    <%= will_paginate @fly_sites, :container => false %>
  </div>
</div>