<%= yield :head %>

<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Go To Know!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>
    <%= yield(:head_tags) %>
  </head>

  <body>
    <%= render 'layouts/welcome_modal' %>

    <div class="container mt-2 pl-2">
      <%= render 'layouts/messages' %>
      <%= render 'layouts/nav' %>
      <%= yield %>
    </div>
  </body>
</html>
